name: Release Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create archive
        run: |
          zip -r jellyslider.zip language list listUpdate modules src main.js auth.js

      - name: Update Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          name: Latest Build
          files: jellyslider.zip
          draft: false
          prerelease: false
          overwrite: true
